@media (max-width: 850px) {

.homeContents {
  display: flex;
  justify-content: center;
  border: solid red 3px;
  flex-wrap: wrap;
  width: auto;
}

.mainStoryContainer {
  border: solid green 8px;
  flex-wrap: wrap;
  width: 250px;
  height: auto;
  object-fit: cover;
}

.seconStoryContainer,
.thirdStoryContainer {
  display: flex;
  border: solid blue 10px;
  padding: 5px;
  width: 80px;
  margin-top: 10px;
  flex: auto;
}


}

/* ----------- Phone Style------------ */


@media (min-width: 900px) {

  .homeContents {
    display: flex;
    justify-content: center;
    border: solid red 3px;
    flex-wrap: wrap;
    width: auto;
  }
  
  .mainStoryContainer {
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    object-fit: cover;
  }
  
  .seconStoryContainer,
  .thirdStoryContainer {
    display: flex;
    padding: 5px;
    width: 80px;
    margin-top: 10px;
    flex: auto;
  }
  
  
  }
  
  /* ----------- Tablet Style------------ */






body {
  display: flexbox;
  background-color: #333c3f;
}

a {
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
  color:white
}

h1 {
  text-align: center;
}

pre {
  font-size: 35px;;
}

.divider {
  border: solid orange 1px;;
}


/* The main header container */
.main-header {
  display: flex;
  width:98%;
  height:8vh;
  justify-self: center;
  justify-content: space-evenly;
  align-content: center;
}

/* The logo Image - Website name */
        .webPage-name {
          width: 200px;
        }

                /* The Logo Image */
                .LogoImage {
                  margin-top: 10px;;
                  Width: 130%;
                }


        /* The Social Media Main Container */
        .social-login {
          display: flex;
          margin-left: auto;
          margin-right:3vw;
          max-width: 100%;
          justify-content:space-between
        }

                /* YouTube */
                .socialMedia {
                  width:auto;
                  height: 15vh;
                  margin: 23px;;
                  margin-left:3vw;
                  margin-right: 3vw;
                  font-size: 35px;;
                }

                /* Login */
                .login {
                  align-self: center;
                  font-family: 'Times New Roman', Times, serif;
                }
                      .login > a {
                        font-family:'Courier New', Courier, monospace;
                      }

                      
/* The Navegation Bar */

.navegationBar {
  display: flex;
  width: 98%;
  height: auto;
  max-width: 100%;
  padding-top: 1vh;
  justify-self: center;
  margin-bottom: 1vh;;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navegationBar > div,
.dropbtn {
  color: white;
  font-size: 30px;
  cursor: pointer;
  align-self: center;
  flex-wrap: wrap;
  max-width: fit-content;
}

.searchBar {
  font-size: 30px;
}

.navegationBar > div:hover {
  box-shadow: 0px 0px 65px rgb(194, 194, 194);
  color: orange;
  transition: ease-in 0.2s;
}

.searchButton,
.homebutton {
  background-color: #333c3f;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}

.homebutton:hover {
  box-shadow: 0px 0px 25px white;
}

/* Test */



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333c3f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: ease-in 0.3s;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



.homeContents {
  border: solid orange 4px;
  display: flex;
  margin: 15px;
  width: 98%;
  height:100%;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.homeContents{
  /* border: solid red 3px; */
  margin-top: 35px;
  width: 99%;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 50px gray;
}

.mainStoryContainer {
  flex-wrap: wrap;
  height: 100%;
  width: 1700px;
  margin-top: 20px;
}

.storyImag {
  width: 99%;
  min-height: 90%;
  justify-self: center;
}

.mainStoryImageTag {
  width: 100%;
  justify-self: center;
}

.storyText {
  width: 99%;
  height: auto;
  border: solid gray 5px;
  background-color: white;
  flex-wrap: wrap;
}

.mainPreText {
  flex-wrap: wrap;
  font-size: 40px;
  padding: 15px;
  max-width: 100%;
  max-height: fit-content;
}
.readMoreHyperlink {
  color: blue;
}

.seconStoryContainer,
.thirdStoryContainer {
  width: 510px;
  height: auto;
  object-fit: contain;
  flex-wrap: wrap;
  background-color: rgb(255, 242, 183);
}

.secondTextContainer,
.thirdMainText {
  padding: 12px;
  font-size: 36px;

}

.seconStoryImage,
.thirdMainImageTag {
  width: 100%;
}

.mainPageFooter {
  display: flex;
  border: solid orange 4px;
  width: 97%;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1em;
  justify-self: center;
  background-color: rgb(17, 17, 17);
  justify-content: space-evenly;
}

.mainPageFooter > div {
  width: 15%;
  height: 100%;
  margin: 5px;
}

.legal,
.ourSites,
.joinUs {
  font-size: 30px;
  line-height: 2em;
}

.sbaH1 {
  color: white;
}

.footerH3 {
  color: white;
}


















