@media (max-width: 750px) {

  .mainStoryContainer {
    /* border: solid blue; */
    display: flex;
    height: 100%;
    flex-direction: row;
  }

  .naturalImages {
    display: block;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  .natImages {
    flex-wrap: wrap;
    object-fit: fill;
  }

  .pageTitle {
    display: none;
  }
  
  .natureTable, .tables {
    display: none;
  }

  

  .natureImagesTag {
    width: 100%;
    height: 100%;
  }
}

/* --------- Phone Style ---------------- */

@media (min-width: 1200px) {

  .mainStoryContainer {
    /* border: solid blue; */
    background-color: orange;
    display: inline;
    height: 100%;
    flex-direction: row;
  }

  .naturalImages {
    display: inline;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

#natImages5 {
  display: none;
}
  .natImages {
    flex-wrap: wrap;
    object-fit: fill;
  }

  .natureTable {
    display: none;
  }

  .natureImagesTag {
    width: 100%;
    height: 100%;
  }
}


/* --------- Tablet Style ---------------- */


@media (min-width: 1000px) {

  .mainStoryContainer {
    /* border: solid blue; */
    background-color: #333c3f;
    display: block;
    height: 100%;
    flex-direction: row;
  }

  


  .natureTable {
    display: none;
  }

  
}


/* --------- Tablet Style ---------------- */



body {
  display: block;
  background-color: #333c3f;
  flex-wrap: wrap;
}



a {
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
  color:white;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

pre {
  font-size: 35px;;
}

.divider {
  border: solid orange 1px;;
}


/* The main header container */
.main-header {
  display: flex;
  width:98%;
  height:8vh;
  justify-self: center;
  justify-content: space-evenly;
  align-content: center;
}

/* The logo Image - Website name */
        .webPage-name {
          width: 200px;
        }

                /* The Logo Image */
                .LogoImage {
                  Width: 130%;
                }


        /* The Social Media Main Container */
        .social-login {
          display: flex;
          margin-left: auto;
          margin-right:5vw;
          max-width: 100%;
          justify-content:space-between
        }

                /* YouTube */
                .socialMedia {
                  width:auto;
                  height: 15vh;
                  margin: 23px;;
                  margin-left:3vw;
                  margin-right: 3vw;
                  font-size: 35px;;
                }

                /* Login */
                .login {
                  align-self: center;
                  font-family: 'Times New Roman', Times, serif;
                }
                      .login > a {
                        font-family:'Courier New', Courier, monospace;
                      }

                      
/* The Navegation Bar */

.navegationBar {
  display: flex;
  width: 98%;
  height: auto;
  max-width: 100%;
  padding-top: 1vh;
  justify-self: center;
  margin-bottom: 1vh;;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navegationBar > div,
.dropbtn {
  color: white;
  font-size: 30px;
  cursor: pointer;
  align-self: center;
  flex-wrap: wrap;
  max-width: fit-content;
}

.searchBar {
  font-size: 30px;
}

.navegationBar > div:hover {
  box-shadow: 0px 0px 65px rgb(194, 194, 194);
  color: orange;
  transition: ease-in 0.2s;
}

.searchButton,
.homebutton {
  background-color: #333c3f;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}

.homebutton:hover {
  box-shadow: 0px 0px 25px white;
}




/* dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333c3f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: ease-in 0.3s;
}


/* dropdown links HOVER */
.dropdown-content a:hover {background-color: #ddd;}

/* Dropdown menu HOVER*/
.dropdown:hover .dropdown-content {display: block;}

/* Background color of the dropdown button  */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* .homeContents, .mainStoryContainer {
  display: block;
  border: solid orange 4px;
  display: flex;
  margin: 15px;
  width: 98%;
  height:100%;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.homeContents > div {
  /* border: solid red 3px; */
  display: block;
  width: 585px;
  height: 100%;
  margin: 20px;
  box-shadow: 0px 0px 50px gray;
}

.mainStoryContainer {
  border: solid orange 5px;;
  justify-content: space-around;
  margin-top: 1em;
  align-content: center;
  width: 100%;
  max-width:100%;
}

.pageTitle {
  color: white;
  font-family: sans-serif;
  font-size: 80px;
  text-align: center;
}

.naturalImages {
  display: flex;
  justify-content: space-around;
  margin: 1em;
  justify-self: center;
}

.natImages {
  display: flex;
  width: 640px;
  height: 480px;
  border: double orange 3px;
  margin: 1em;
}

.natureImagesTag {
  width: 100%;
  flex-wrap: wrap;
}



.natureTable {
  display: flex;
  border: solid orange 15px;
  margin: 2em;
  color: white;
  flex-wrap: wrap;
  justify-self: center;
  background-color: gray;
  text-shadow: 1px 1px 10px black;
}


.table, td, tr, th {
  border: solid orange 2px;;
  text-align: center;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;  
  flex-wrap: wrap;
}

.storyImag {
  margin-top: 1em;;
  width: 48%;
}

.mainStoryImageTag {
  width: 100%;
  justify-self: center;
  
}

.storyText {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 3vb;;
  width: 48%;
  height: auto;
  border: solid gray 5px;
  background-color: rgb(247, 226, 168);
  flex-wrap: wrap;
}


.mainPreText {
  flex-wrap: wrap;
  font-size: 40px;
  padding: 15px;
  max-width: 100%;
  max-height: fit-content;
}
.readMoreHyperlink {
  color: blue;
}

.seconStoryContainer,
.thirdStoryContainer {
  width: 250px;
  height: 50%;
  object-fit: contain;
  flex-wrap: wrap;
  background-color: rgb(255, 242, 183);
}

.seconStoryImage,
.thirdMainImageTag {
  width: 100%;
}

.mainPageFooter {
  display: flex;
  border: solid orange 4px;
  width: 97%;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1em;
  justify-self: center;
  background-color: rgb(17, 17, 17);
  justify-content: space-evenly;
}

.mainPageFooter > div {
  width: 15%;
  height: 100%;
  margin: 5px;
}

.legal,
.ourSites,
.joinUs {
  font-size: 30px;
  line-height: 2em;
}

.sbaH1 {
  color: white;
}

.footerH3 {
  color: white;
}


















